<div ng-controller="CategoryModalsCtrl">
    <form class="form" name="deleteCategoryForm" ng-submit="deleteCategory(category)">
        <p>Weet u zeker dat u <strong>{{category.Name}}</strong> wilt verwijderen?</p>
        <p>Deze actie kan niet meer ongedaan gemaakt worden.</p>

        <div class="text-right">
            <button type="submit" class="btn btn-primary" ng-disabled="deleteCategoryForm.$invalid"><span class="glyphicon glyphicon-ok"></span> Verwijderen</button>
            <button type="button" class="btn btn-default" ng-click="$hide()"><span class="glyphicon glyphicon-remove"></span> Annuleren</button>
        </div>
    </form>
</div>